.nvv{
    background: none;
}
@media screen and (max-width: 600px) {
    .bosss{
        display: flex;
          flex-direction: column;
    }
}
@media screen and (max-width: 350px) {
    .bosss{
        display: flex;
        flex-direction: column;
    }
.text-one{
    display: flex;
    flex-direction: column;
}
.navbar-2{
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 800px) {
    .bosss{
        display: flex;
          flex-direction: column;
    }
}