// .parents{
//     display: flex;
//     justify-content: space-around;
//     padding: 2rem;
//     margin: auto;
//     color: rgb(104, 97, 70);
//     // box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);  
//     background: rgb(231, 74, 74);
//     margin-bottom: 5rem;
// }
// .slide-2{
//     display: flex;
//     justify-content: space-evenly;
// }
// .slide-3{
//     display: flex;
//     justify-content: space-evenly;
// }
// .txt{
//     padding: 1rem;
// }
// .txt2{
//     padding: 1rem;
// }
// .slide h4{
//     padding: 1.5rem;
// }
.parents-2{
    display: flex;
    // justify-content: space-around;
    padding: 2rem;
    // margin: 2rem;
    // margin: auto;
    background: rgb(245, 245, 245);
          color: #8c886d;
}
